.cart-cont {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
  @include max-991 {
    grid-template-columns: 1fr;
  }
}
.cart {
  width: 100%;
  overflow: hidden;
}
.card-title {
  font-weight: 400;
  font-size: 16px;
  color: $white;
  margin-bottom: 10px;
}
.cart-item {
  display: flex;
  gap: 14px;
  background-color: #0c0c0c;
  padding: 20px;
  margin-bottom: 12px;
  @include max-767 {
    flex-direction: column;
  }
}
.cart-img {
  width: 44px;
  height: 44px;
  @include flexCenter;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.cart-content {
  width: 100%;
}
.cart-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 8px;
}
.product-name {
  font-weight: 700;
  font-size: 18px;
  color: $white;
  margin: 0;
}
.cart-option {
  font-weight: 400;
  font-size: 12px;
  color: $white;
  margin-bottom: 8px;
}
.cart-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.cart-qty {
  display: flex;
  align-items: center;
  gap: 6px;
  color: $white;
  font-weight: 400;
  font-size: 14px;
  .table-total {
    margin: 0;
    flex-shrink: 0;
  }
}
.delete-btn {
  background-color: transparent;
  border: none;
  outline: none !important;
  font-weight: 300;
  font-size: 12px;
  color: $white;
  @include flexCenter;
  gap: 2px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  transition: all 0.3s ease-in-out;
  i {
    color: #ee0000;
    font-size: 14px;
  }
  &:hover {
    color: #ee0000;
  }
}
.cart-checkout {
  width: 100%;
  overflow: hidden;
}
.cart-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 14px;
  background-color: #0c0c0c;
  padding: 20px;
  margin-bottom: 12px;
  i {
    color: #979797;
    font-size: 18px;
  }
}
.cart-address-type {
  font-weight: 700;
  font-size: 16px;
  color: $white;
  margin-bottom: 5px;
}
.cart-address-text {
  font-weight: 400;
  font-size: 16px;
  color: $white;
}
.cart-cont {
  .total-cont {
    margin-bottom: 12px;
    &.total {
      margin-bottom: 0;
      padding-top: 15px;
      border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
  }
  .submit-btn {
    margin-top: 25px;
  }
}
.cart {
  .order-info {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @include max-767 {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  background-color: #0c0c0c;
  padding: 20px;
  margin-bottom: 16px;
  @include max-767 {
    flex-direction: column;
    align-items: flex-start;
  }
  .submit-btn {
    max-width: 170px;
    flex-shrink: 0;
    @include max-767 {
      margin: 0 auto;
    }
  }
}
.order-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: $white;
  font-weight: 400;
  font-size: 16px;
}
.add-address {
  max-width: 230px;
  margin-inline-start: auto;
  @include max-991 {
    margin-bottom: 16px;
  }
}
.address-form-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @include max-991 {
    grid-template-columns: 1fr;
  }
}
.form-input-relative {
  position: relative;
}
.angle-select {
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 20px;
  font-size: 12px;
  color: #979797;
  pointer-events: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  display: none;
}

.select2-container .select2-selection--single {
  height: 44px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: $white;
}

.select2-container {
  padding: 0;
}

.select2-container--default .select2-selection--single {
  border: 2px solid transparent;
  border-radius: 0;
  background-color: rgba(46, 46, 46, 0.4);
}

.select2-container--default .select2-selection--single:focus {
  border-color: var(--main-hover) !important;
}

.select2-container {
  max-width: 100%;
}

.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  color: var(--white-color);
  background: var(--main-hover);
  transition: 0.5s;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 20px;
  height: 40px;
  border: 1px solid var(--back-color);
  padding: 8px 20px;
  caret-color: var(--black-color);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

.select2-dropdown {
  background-color: $main;
}

.select2-search--dropdown {
  margin: 0 10px;
  background-color: $main;
}

[type="search"] {
  outline: 0;
}

.select2-results__option {
  padding: 10px 20px;
  color: var(--text-color);
  text-align: start;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 30px !important;
  height: 44px;
}

@media only screen and (max-width: 767px) {
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 30px !important;
  }
}
.select2-container--open.select2-container--default .select2-selection--single {
  overflow: hidden;
  border-bottom: transparent;
}

.select2-container--open.select2-container--default
  .select2-selection--single:focus {
  border-color: var(--main-hover) !important;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.select2-container[dir="rtl"]
  .select2-selection--single
  .select2-selection__rendered {
  font-size: 12px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 0;
}

.select2-container[dir="rtl"]
  .select2-selection--single
  .select2-selection__rendered:focus {
  border-color: var(--main-hover) !important;
}

.select2-results__option--selectable {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  background-color: var(--back-color);
}

.select2-container--default .select2-results__option--selected {
  background-color: transparent;
}
html[dir="rtl"] input[type="number"]::placeholder {
  text-align: right;
}
