/*           swiper section                     */
.main-slider {
  position: relative;
  overflow: hidden;
}
.main,
.swiper-cont {
  position: relative;
}
.main .pro-img {
  @include flexCenter;
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1360/534;
}
.main .pro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-slider .swiper-btn {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  background-color: #00000080;
  border-radius: 50%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  color: $white;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $white;
    color: $black;
  }
}

@media (min-width: 1320px) {
  .main-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-slider .swiper-btn i {
  z-index: 2;
}
.swiper-btn.swiper-btn-next {
  left: 57px;
}

.swiper-btn.swiper-btn-prev {
  right: 57px;
}

.main-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .main-slider .swiper-pagination {
    bottom: 15px;
  }
  .main-slider {
    margin-bottom: 40px;
  }
}

.main-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #00000080;
  opacity: 0.9;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.main-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: $hover;
}

.main-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $hover;
  opacity: 1;
}
/*                          main-slider                             */
/*                            product section                           */
.product-section {
  text-align: center;
  padding: 75px 0;
  background-color: $hover;
  @include max-991 {
    & {
      padding: 50px 0;
      margin-bottom: 40px;
    }
  }
}
.product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @include max-991 {
    & {
      margin-bottom: 25px;
    }
  }
}
.section-head {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
  color: $white;
  margin: 0;
}
.product-link {
  width: 170px;
  height: 48px;
  margin: 55px auto 0;
  @include flexCenter;
  font-weight: 500;
  font-size: 16px;
  border-radius: 24px;
  cursor: pointer;
  text-decoration: none !important;
  background-color: $third;
  color: $white;
  @include tr;
  &:hover {
    background-color: $main;
    color: $white;
    opacity: 0.7;
  }
  @include max-991 {
    margin: 30px auto 0;
  }
}
.product-slider {
  position: relative;
  margin-bottom: 40px;
}
.product-cont {
  position: relative;
}
.product-img {
  @include flexCenter;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 276 / 231;
}
.product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.product:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.hint {
  position: absolute;
  top: 5px;
  inset-inline-start: 5px;
  background-color: $main;
  color: $white;
  font-weight: 700;
  font-size: 12px;
  height: 21px;
  width: auto;
  max-width: 90%;
  padding: 0 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.product {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  background-color: #0c0c0c;
}
.product .product-content {
  padding: 10px 16px 20px;
}
.product .product-name {
  display: block;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  transition: all 0.4s ease-in-out;
  text-align: start;
  overflow: hidden;
  line-height: 28px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 56px;
  .product:hover & {
    color: $main;
  }
}
.product-location {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  font-size: 16px;
  color: $white;
  margin: 0;
  i {
    font-size: 16px;
  }
}
.price-box {
  text-align: start;
  color: $white;
  font-size: 16px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1199px) {
  .product .product-name {
    font-size: 16px;
  }
}
.new-price {
  font-weight: 700;
}
.old-price {
  font-weight: 400;
  text-decoration: line-through;
  color: #949494;
}
.product-date {
  color: $white;
  font-size: 16px;
  font-weight: 400;
}
.product .btn-cont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 5px;
  inset-inline-end: 5px;
}
.add-to-btn,
.add-to-fav {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  @include flexCenter;
  border: none;
  outline: none !important;
  font-size: 20px;
  color: $sec;
  background-color: $white;
  text-decoration: none;
  box-shadow: 0px 3px 6px #00000029;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $hover;
    color: $white;
  }
  &.active {
    background-color: #e24a56;
    color: $white;
  }
}
.add-to-btn:disabled {
  opacity: 0.7;
  pointer-events: none;
}
.product-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 10px;
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .product-section {
    margin-bottom: 40px;
  }

  .product-content .price-box {
    display: flex;
    flex-direction: column;
  }
  .section-head {
    font-size: 24px;
  }
  .product .product-content {
    padding: 10px;
  }
  .product-hover .hint {
    font-size: 10px;
  }
}
/*                             product section                          */
.tel-number,
.event-location {
  color: $white;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.tel-number:hover,
.event-location:hover {
  color: $white;
}
.tel-number {
  text-decoration: none !important;
}
.term-cont {
  font-weight: 500;
  font-size: 14px;
  color: $white;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.term-cont button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none !important;
  outline: none !important;
  color: $white;
  font-weight: 500;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.term-cont button:hover {
  color: $sec;
}
.close-modal {
  font-size: 24px;
  color: #808080;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 10px;
  inset-inline-end: 10px;
  outline: none !important;
  background: transparent;
  border: none;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.close-modal i {
  display: block;
}
.close-modal:hover {
  text-decoration: none;
  color: $white;
}
@media (max-width: 991px) {
  .close-modal {
    font-size: 18px;
  }
}

/*modal*/
.terms-modal .modal-dialog {
  margin: 5% auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}
@media (max-width: 580px) {
  .terms-modal .modal-dialog {
    margin-top: 40px;
    width: calc(100vw - 40px);
  }
}
.terms-modal .modal-content {
  padding: 50px 35px 45px;
}

@media (max-width: 480px) {
  .terms-modal .modal-content {
    padding: 40px 25px;
  }
}
.modal-content {
  border-radius: 0;
  background-color: #000;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.modal-header {
  padding: 0;
  border: none;
  position: static;
  margin: 0;
  text-align: start;
}

.modal-title {
  font-size: 16px;
  font-weight: 700;
  color: $white;
  margin: 0;
  margin-bottom: 20px;
  text-align: start;
}
.modal-body {
  padding: 0;
  margin: 0;
}
.terms-pargh {
  font-weight: 500;
  font-size: 14px;
  color: #9b9b9b;
  text-align: start;
  line-height: 22px;
  margin-bottom: 20px;
}
/**/
@media (max-width: 767px) {
  .gallery-cont {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.store {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-weight: 500;
  font-size: 20px;
  color: $white;
  @include tr;
  figure {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    @include flexCenter;
    background-color: #0d0d0d;
    img {
      max-width: 100%;
      max-height: 100%;
      @include tr;
    }
  }
  &:hover {
    color: $third;
    img {
      transform: scale(1.05);
    }
  }
}
.store-section {
  margin-top: 30px;
}
.store-cont {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px 10px;
  @include max-1200 {
    grid-template-columns: repeat(5, 1fr);
  }
  @include max-991 {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  @include max-767 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.item-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 10px;
  @include max-1200 {
    grid-template-columns: repeat(4, 1fr);
  }
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.item {
  width: 100%;
  overflow: hidden;
}
.item-img {
  width: 100%;
  display: block;
  @include tr;
  figure {
    width: 100%;
    aspect-ratio: 218/199;
    position: relative;
    overflow: hidden;
    background-color: #fbfbfb;
    @include flexCenter;
    img {
      max-width: 100%;
      max-height: 100%;
      @include tr;
    }
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}
.item-content {
  padding: 10px 12px 20px;
  background-color: #0c0c0c;
  text-align: center;
  .price {
    display: inline-block;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .item-qty {
    max-width: 100%;
  }
  .qty-control {
    width: 44px;
    height: 44px;
    background-color: $third;
    color: $white;
    @include max-767 {
      width: 37px;
      height: 37px;
    }
  }
  .qty-input {
    font-weight: 500;
    font-size: 16px;
  }
}
.item-name {
  font-weight: 400;
  font-size: 14px;
  color: $white;
  text-align: center;
  overflow: hidden;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 6px;
  @include tr;
  &:hover {
    color: $third;
  }
}
.btn-addToCart {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: $third;
  height: 44px;
  border-radius: 22px;
  border: none;
  outline: none !important;
  transition: all 0.3s ease-in-out;
}

.btn-addToCart:hover,
.btn-addToCart:focus {
  color: #fff;
  text-decoration: none;
  background-color: $sec;
}
.item-qty-cont,
.hide.item-qty {
  display: none;
}
