.single-page {
  padding: 30px 0;
  min-height: 50vh;
}
.product-details-cont {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
  margin-bottom: 30px;
  @include max-991 {
    grid-template-columns: 1fr;
  }
}
.store-details-cont {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 15px;
  margin-bottom: 20px;
  align-items: flex-start;
  @include max-991 {
    grid-template-columns: 1fr;
  }
}
.product-img-cont {
  width: 100%;
  height: 100%;
  figure {
    width: 100%;
    aspect-ratio: 446/382;
    position: relative;
    overflow: hidden;
    @include flexCenter;
  }
  img {
    width: 100%;
    max-width: 100%;
  }
}
.product-info-cont {
  text-align: start;
  padding-top: 10px;
  @include max-991 {
    padding-top: 0;
  }
  .product-link {
    width: auto;
    max-width: max-content;
    padding: 0 42px;
    margin: 0;
  }
}
.product-head {
  font-weight: 400;
  font-size: 24px;
  color: $white;
  margin-bottom: 15px;
}
.product-info {
  display: flex;
  align-items: center;
  gap: 11px;
  font-weight: 300;
  font-size: 20px;
  color: $white;
  margin-bottom: 25px;
  i {
    width: 22px;
    height: 22px;
    font-size: 22px;
  }
}
.locatiom-map {
  margin-bottom: 35px;
  max-width: 100%;
}
.store-details-cont {
  .product-price {
    font-weight: 700;
    font-size: 28px;
    color: $white;
    display: inline-block;
    margin-bottom: 10px;
  }
}
.desc-head {
  font-weight: 500;
  font-size: 16px;
  color: $white;
  text-align: start;
  margin-bottom: 10px;
}
.desc-pargh {
  font-weight: 400;
  font-size: 16px;
  color: $white;
  text-align: start;
  margin-bottom: 5px;
}
.related-head {
  font-weight: 500;
  font-size: 20px;
  color: $white;
  text-align: start;
  margin-bottom: 20px;
}
.related-slider {
  position: relative;
  padding-inline-start: 20px;
}
@media (min-width: 576px) {
  .related-slider {
    padding-inline-start: calc((100vw - 540px) / 2);
  }
}
@media (min-width: 768px) {
  .related-slider {
    padding-inline-start: calc((100vw - 720px) / 2);
  }
}
.related-slider {
  @include min-992 {
    padding-inline-start: calc((100vw - 960px) / 2);
  }
  @include min-1200 {
    padding-inline-start: calc((100vw - 1170px) / 2);
  }
}
.checkout-content {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: #0c0c0c;
  padding: 20px;
  .cart-btn {
    background-color: $black;
  }
}
.table-total {
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  margin-bottom: 20px;
}
.total-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;
  .table-name {
    font-weight: 400;
    font-size: 16px;
    color: $white;
    text-align: start;
  }
  .table-price {
    font-weight: 700;
    font-size: 16px;
    color: $white;
    text-align: end;
  }
}
.cart-btn {
  width: 100%;
  height: 44px;
  max-width: 100%;
  border-radius: 27px;
  margin: 0 auto;
  margin-top: 12px;
  @include flexCenter;
  outline: none !important;
  border: 1px solid #fff;
  text-decoration: none;
  @include tr;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  background-color: transparent;
  &:hover {
    background-color: $white;
    color: $main;
  }
}
.products-description {
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
  margin-bottom: 10px;
  display: inline-block;
}
.products-post-pargh {
  font-weight: 400;
  font-size: 16px;
  color: var(--white-color);
  line-height: 30px;
  margin-bottom: 10px;
}
.radio-group input {
  display: none;
}
.radio-group {
  margin-bottom: 18px;
}
.radio-group .check-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-group .check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  padding: 0 30px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 22px;
  border: 1px solid transparent;
  background-color: #1f1d1d;
}
.radio-group .check-label:has(input:checked) {
  border-color: $white;
  color: $white;
}
.qty-cart-title {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  color: $white;
}
.options-title {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  color: $white;
}
.options-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  @include max-991 {
    grid-template-columns: 1fr;
  }
}
.option-item {
  width: 100%;
  overflow: hidden;
  background-color: #0c0c0c;
  padding: 12px;
}
.option-head {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  color: $white;
  img {
    max-width: 44px;
    max-height: 44px;
  }
}
.option-label {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
  .radio-group {
    margin-bottom: 0;
  }
  .qty-cart-title {
    flex-shrink: 0;
    margin: 0;
  }
  @include max-767 {
    flex-wrap: wrap;
  }
}
